
  .gotobox {
    display:block;
    text-align:center;
    padding:10px;
    margin:20px;
    font-size:2em;
    width:90%;
    text-decoration:none;
  }
  .gotobox-go {
    color:#f09;
    background-color:#369;
  }
  .gotobox-error {
    color:#f00;
    background-color:#dd0;
  }